/** General theme */
html {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial;
    text-decoration: none;
    text-align: center;
    background-color: #adff2f;
    font-size: 1rem;
    margin: 0rem 2rem 0rem 2rem;
}

header, footer {
    background-color: black;
    color: white;
    padding: 0px;
}

/* header {
    margin-top: 1rem;
}

footer {
    margin-bottom: 1rem;
} */

h1, h2, h3, h4, h5, h6{
    margin: 0%;
    font-size: 2.125rem;
}

/** Nav theme */
nav > a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
}

nav > a + a {
    margin-left: 1.25rem;
}

/** Beer theme */
img{
    size: 12px;
    height: 96px;
    width: auto;
}

.leffe{
    background-color: rgb(160, 160, 0); 
}

.chimay {
    background-color: rgb(132, 115, 51);
}

.desperados {
    background-color: rgb(132, 51, 51);
}

.jupiler {
    background-color: rgb(184, 138, 145);
}

.kasteel {
    background-color: rgb(188, 122, 0);
}

.maes {
    background-color: rgb(119, 119, 119);
}

p {
    font-size: 2rem;
    margin: 0rem 0rem 0.5rem 0rem;
}

.IMPORTANT {
    background-color: red;
    font-weight: bold;
    font-size: 2.125rem;
}

button {
    font-size: 2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: white;
    background-color: red;
    border-radius: 2rem;
    border-color: white;
    margin-bottom: 0.5rem;
}